.logo {
  width: 7%;
  height: 7%;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.admin_image {
  width: 100px;
  object-fit: contain;
}

.cart-image {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
